




<div class="sidebar">
  <ul class="menu-list">
    <li class="menu-item" (click)="navigateTo('/login-success/dashboard')">
      Dashboard
    </li>
    <li class="menu-item" (click)="navigateTo('/login-success/tweets')">
      My Tweets
    </li>
    <li class="menu-item" (click)="navigateTo('/login-success/Compose')">
      Compose Tweet
    </li>
    <li class="menu-item" (click)="navigateTo('/login-success/Search User')">
      Search User's
    </li>
      <li class="menu-item" (click)="navigateTo('/login-success/Analytics')">
      Analytics
    </li>
  </ul>
</div>



